@charset "UTF-8";
caption{
		visibility: hidden;
}
.content {
    border: 1px solid rgb(255 255 255);
}

thead tr th {
    text-align: center;
    font-weight: bold;
}

tbody tr td {
    text-align: center;
}

select[name=searchCondition] {
    float: left;
    margin-left: 180px;
}

input[name=searchKeyword] {
    float: left;
    width: 50%;
    margin: 0 10px;
}

input[type="submit"] {
    float: left;
    margin: 0;
}

.divBtn {
    float: right;
    margin: 40px 0;
}